<%- include('../../pages/partials/head') %>
<%- include('../../pages/partials/header') %>
<div class="divicion-correo"></div>
<%- include('../../pages/partials/formulario') %>
<%- include('../../pages/partials/footer') %>
