<section class="aboutUs">

    <div class="claseImagen">
        <img class="imgLibros" src="img/libross.png" alt="libros">
    </div>


    <div class="divTexto">
        <h2>
            About Us
        </h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt atque ex voluptate similique. Nobis dolor ea laudantium rerum modi at quis doloribus ullam! Esse labore odio officia natus, rerum molestiae?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt atque ex voluptate similique. Nobis dolor ea laudantium rerum modi at quis doloribus ullam! Esse labore odio officia natus.
            <br>Molestiae? Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt atque ex voluptate similique. Nobis dolor ea laudantium rerum modi at quis doloribus ullam! Esse labore odio officia natus, rerum molestiae?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt atque ex voluptate similique. Nobis dolor ea laudantium rerum modi at quis doloribus ullam! Esse labore odio officia natus, rerum molestiae?
        </p>
        <h4>
            Learn More
        </h4>
    </div>
</section>