<section class="libros-biograficos">
    <h1>Libros Biográficos</h1>
    <p>Descubra las vidas fascinantes de personas reales con nuestra colección de biografías y memorias convincentes, que van desde figuras históricas hasta íconos modernos.</p>

    <div class="libros-biograficos-contenedor">
      <img src="img/biografia1.jpg" alt="libro-biografico" class="libro-biografico secundario">
      <img src="img/biografia2.jpg" alt="libro-biografico" class="libro-biografico">
      <img src="img/biografia3.jpg" alt="libro-biografico" class="libro-biografico secundario">
    </div>
    <div class="puntos-contenedor">
      <div class="punto-biografico secundario"></div>
      <div class="punto-biografico"></div>
      <div class="punto-biografico secundario"></div>
    </div>
  </section>