    <section class="en-oferta">
      <h1>En Oferta</h1>
      <div class="ofertas-contenedor">
        <div class="libro-oferta libro-oferta-1">
          <img src="img/oferta1.jpg" alt="">
        </div>
        <div class="libro-oferta libro-oferta-1">
          <img src="img/oferta2.jpg" alt="">
        </div>
        <div class="libro-oferta libro-oferta-1">
          <img src="img/oferta3.jpg" alt="">
        </div>
        <div class="libro-oferta libro-oferta-1">
          <img src="img/oferta4.jpg" alt="">
        </div>

      </div>
    </section>