<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/descripcionLibros.css">
    <link rel="stylesheet" href="/editarLibros.css">
    <link rel="stylesheet" href="/totalStock.css">
    <link rel="stylesheet" href="/librosAgotados.css">
    <link rel="stylesheet" href="/productosAdmin.css">
    <link rel="stylesheet" href="/olvideContraseñalogin.css">
    <link rel="stylesheet" href="/todosUsuarios.css">
    <link rel="stylesheet" href="/panel.css">
    <link rel="stylesheet" href="/editarUsuarios.css">
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/login.css">
    <link rel="stylesheet" href="/footer.css">
    <link rel="stylesheet" href="/carrito.css">
    <link rel="stylesheet" href="/carritoEliminar.css">
    <link rel="stylesheet" href="/formulario.css">
    <link rel="stylesheet" href="/mensajes.css">
    <script src="https://kit.fontawesome.com/f89100900b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css">
    

    <title>Bookish</title>
  </head>

<body>