<section class="hero">
  <%- include('../../pages/partials/mensajes') %>
  <div class="hero-texto">
    <h1>Compre los Mejores Libros <br />Online en nuestro Bookstore</h1>
    <h2>
      Descubra una selección curada de libros de ficción, no ficción e
      infantiles, y piérdase en un mundo de lectura <br />
      desde la comodidad de su hogar.
    </h2>
  </div>
  <div class="menu-generos">
    <a href="/ficcion">Ficción</a>
    <a href="/humanidades">Humanidades</a>
    <a href="/arte">Arte</a>
    <a href="/infantiles">Infantiles</a>
    <a href="/autoayuda">Autoayuda</a>
  </div>
</section>
