 /* Estilos para el layout del dashboard */
 .dashboard-container {
    display: flex;
    height: 74vh;
  }
  
  .sidebar {
    width: 200px;
    background-color: #f2f2f2;
    padding-top: 63px;
  }
  .titulo-sidebar{
    margin-bottom: 51px;
    margin-left: 14px;
  }
  
  .main-content {
   width: 90%;
  }
  
  /* Estilos para las etiquetas de la barra lateral */
  .sidebar a {
    display: block;
    margin-bottom: 62px;
    margin-left: 14px;
    text-decoration: none;
  }
  
  .sidebar a:hover {
    font-weight: bold;
  }
  
  /* Estilos para la barra de navegación superior */
  .navbar-panel {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #f2f2f2;
    padding: 10px;
    margin-bottom: 20px;
  }
  .data-visualisacion{
    width: 86%;
    height: 73%;
    margin: 67px;
    display: flex;
    justify-content: space-evenly;
  }
  .data-titulo {
    margin:  2.625rem 0;
  }
  .data-total-stock{
    width: 107%;
    height: 23%;
    background-color: #e7de1269;
    border-radius: 20px;
    display: flex;
    align-items: center;
  
    justify-content: center;

  }
  .data-1{
    width: 15%;
  }
  
  /* Estilos para el botón de cerrar sesión */
  .logout-button {
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }

  

  @media (min-width: 390px ) and (max-width: 767px) {
  
    .navbar-panel {
      padding: 0rem;
  
    }
    .data-titulo {
      margin-top: 0rem;
      margin-left: 4rem;
    }
  
    .data-visualisacion {
      flex-direction: column;
      margin-left: 25px;
    }
    .contenedor-login {
      background-color: rgb(235,235,235);
      height: 53vh;
      display: flex;
      justify-content: space-evenly;
      align-items: flex-start;
      flex-direction: column;
  }
  .contenedor-login {
    background-color: rgb(235,235,235);
    height: 64vh;
    display: flex;
    justify-content: flex-start;
}
.login-mensaje {
  display: flex;
  background-color: #ebebeb;
  height: 8vh;
  align-items: center;
  justify-content: flex-start;
}
  
    .data-1,
    .data-2,
    .data-3 {
      width: 80%;
      height: 20%;
      margin-bottom: 10px;
    }
  }
  
  
  
  
  /*RESPONSIVE 768x1024 */
  @media (min-width: 768px) and (max-width: 1439px) {
    .navbar-panel {
      padding: 0rem;
  
    }
    .data-titulo {
      margin-top: 0rem;
      margin-left: 4rem;
    }
  
    .data-visualisacion {
      flex-direction: column;
    }
  
    .data-1,
    .data-2,
    .data-3 {
      width: 80%;
      height: 20%;
      margin-bottom: 10px;
    }
  }
  
  @media (min-width: 1440px) and (max-width: 1441px){
    .navbar-panel {
      padding: 0rem;
  
    }
    .data-titulo {
      margin-top: 0rem;
      margin-left: 20rem;
    }
  
    .data-visualisacion {
      flex-direction: column;
    }
  
    .data-1,
    .data-2,
    .data-3 {
      width: 70%;
      height: 40%;
      margin-bottom: 10px;
    }
  }
  