<%- include('../../pages/partials/head') %>
<%- include('../../pages/partials/header') %>

<div class="contenedor-politicas">
    <div class="politica-inicio">
        <a class="politica-a" href="/">inicio</a>
        <span class="politica-span">/</span>
        <h6 class="politica-uso">Condiciones de uso</h6>
    </div>
    

    
    <h5 class="politica-titulo">A.- OBJETO DEL SERVICIO</h5>
    <p class="politica-parrafo">Las presentes condiciones generales del servicio y la política de privacidad regulan la prestación del servicio de información y recomendación de libros, productos, eventos y promociones relacionados con el mundo de la literatura. Penguin Random House Grupo Editorial, S.A.U. (PRHGE) con número de identificación fiscal A08116147, es el responsable de la prestación del servicio.

        Al suscribirse al servicio el usuario facilita datos personales e informa intereses y preferencias con respecto a géneros literarios, libros, autores y hábitos de lectura. Esta información es declarada al momento del registro o posteriormente mediante encuestas en la web o vía correo electrónico, también puede ser complementada con información recopilada de su comportamiento en la web. Esta información es utilizada para personalizar sus recomendaciones e información literaria comunicada mediante medios electrónicos.</p>

        <h5 class="politica-titulo">B.- REGISTRO DE USUARIOS</h5>

        <p class="politica-parrafo">El servicio de recomendación se presta a los usuarios que se han suscrito a la web Megustaleer.com, mediante el formulario principal de la web, a través de casillas de suscripción simple disponibles en los diferentes apartados de la web, o usando formularios de registro publicados en webs externas o redes sociales, asociados a eventos o promociones realizados por Penguin Random House Grupo Editorial.

            Los usuarios que hayan confirmado su cuenta, haciendo click en el enlace enviado a través del correo de confirmación, contarán con un perfil en la web, con usuario y clave, donde podrán ingresar para añadir o cambiar sus intereses y preferencias en cualquier momento.
            
            El usuario puede darse de baja del servicio cuando lo desee. Puede hacerlo a través de su perfil en la web, entrando en el apartado de "Configuración de la cuenta" y haciendo click en la casilla "Quiero darme de baja de Megustaleer". También podrá hacerlo desde cualquiera de las neswletters recibidas, haciendo click en el enlace "Deseo darme de baja de las comunicaciones de Megustaleer". Si cualquiera de los dos medios fallase, siempre podrá enviar un correo electrónico a la dirección de email del Delegado de Protección de Datos: lopd@penguinrandomhouse.com quien procederá a realizar la baja</p>

            <h5 class="politica-titulo">C.- PRECIO Y FORMA DE PAGO</h5>

            <p class="politica-parrafo">El servicio de información y recomendación de libros, productos, eventos y promociones relacionados con el mundo de la literatura es de carácter gratuito. En el supuesto que se ofrecieran servicios de pago, el usuario será informado previamente de forma explícita sobre las condiciones de contratación del servicio.</p>

            <h5 class="politica-titulo">D.- POLÍTICAS DE USO Y PROTECCIÓN DE DATOS</h5>

            <p class="politica-parrafo">Las políticas de uso del sitio web, protección de datos y de cookies de este sitio web las puede consultar en sus respectivos apartados haciendo clic a los enlaces que aparecen a pie de página o a continuación:</p>

            <h5 class="politica-titulo">E.- MODIFICACIONES</h5>

            <p class="politica-parrafo">Las presentes condiciones generales de servicio son susceptibles de sufrir modificaciones. El usuario puede comprobar la versión en vigor mediante la fecha de última actualización al final del presente aviso legal</p>
        
</div>

<%- include('../../pages/partials/footer') %>