
<div>
<h1>Nuevo Producto</h1>
<form action="/agregar/libros" method="POST">
  
  <input type="text" name="imagen" placeholder="agregar imagen" >
  
  <input type="text" name="titulo" placeholder="agregar titulo">

  <input type="text" name="autor" placeholder="agregar autor">

  <input type="number" name="precio" placeholder="agregar precio">


  <button type="submit">Guardar</button>
</form>
</div>