<div>
    <div>
        <h1>buscar productos</h1>
        <form action="productos/buscar"method="get">
            <input type="text"name="codigo"placeholder="ingrese el codigo">

        </form>
        <button type="submit">buscar</button>
    </div>
    <div>
    <span>titulo:</span>
    <span>precio:</span>
    <span>stock</span>
    <span>codigo</span>
    </div>
</div>