<%- include('../../pages/partials/head') %>

<div class="container-libros-agotados">
    <div class="contenedor-boton-agotado">
        <button class="boton-agotado"><a class="ancla-agotado" href="/panel">Volver al panel</a></button>
    </div>
    <h2 class="titulo-libros-agotados">Libros agotados</h2>
    <% Libros.forEach((libro) => { %>
      <% if (libro.stock===0) { %>
        <p class="libros-agotados">Libro: <%= libro.titulo %>/// Stock: <%= libro.stock %></p>
      <% } %>
    <% }) %>
    <div class="contenedor-boton-agotado">
        <button class="boton-agotado"><a class="ancla-agotado" href="/panel">Volver al panel</a></button>
    </div>
    
  </div>
 
  <%- include('../../pages/partials/footer') %>