
<%- include('../../pages/partials/head') %>
<div class="contenedor-registrarse-admin">
<div class="admin-registrarse">
    <h1 class="titulo-registrarse-admin">Registrarse admin</h1>
    
    <div>
        <form action="/registrarseAdmin" method="POST"> 
            <div>
                <input class="input-registrarse-admin" type="text" name="nombre" placeholder="nombre">
            </div>
            <div>
                <input class="input-registrarse-admin" type="email" name="email" placeholder="ingrese su email">
            </div>
            <div>
                <input class="input-registrarse-admin" type="password" name="password" placeholder="ingrese su password">
            </div>
            <a class="ancla-registrarse-admin" href="/loginAdmin">Volver al login</a>
            <button class="btn-registrarse" type="submit">Registrar</button>
        </form>
    </div>
</div>
</div>
<%- include('../../pages/partials/footer') %>