<%- include('../../pages/partials/head') %>
<%- include('../../pages/partials/header') %>
<div class="olvide-container">
    
    <div class="olvide-contrase単a">
        <h3 class="titulo-restablecer-contrase単a">Restablecer contrase単a</h3>
        <%- include('../../pages/partials/mensajes') %>
        <form action="/olvide" method="POST"> 
            <div>
                <input class="input-login"type="email" name="email"placeholder="ingrese su email">
                <button class="btn-olvide" type="submit">enviar</button>
            </div>
            <a class=" ancla-restablecer-contrase単a" href="/login">Volver al login</a>




        </form>
    </div>
</div>
<%- include('../../pages/partials/footer') %>